# Database Configuration
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key

# Email Configuration 
VITE_RECIPIENT_EMAIL=your_email@example.com
VITE_SENDER_EMAIL=your_email@example.com

# Newsletter Configuration (Brevo)
VITE_BREVO_API_KEY=your_brevo_api_key
VITE_BREVO_LIST_ID=1

